:root {
    --light-gray-1: rgba(250, 250, 250, 1);
    --light-text-color: rgba(255, 255, 255, 1);
    --primary-color: rgba(35, 166, 240, 1);
    --h-3-font-family: 'Montserrat', Helvetica;
    --h-3-font-weight: 700;
    --h-3-font-size: 24px;
    --h-3-letter-spacing: 0.10000000149011612px;
    --h-3-line-height: 32px;
    --h-3-font-style: normal;
    --paragraph-font-family: 'Montserrat', Helvetica;
    --paragraph-font-weight: 400;
    --paragraph-font-size: 14px;
    --paragraph-letter-spacing: 0.20000000298023224px;
    --paragraph-line-height: 20px;
    --paragraph-font-style: normal;
    --btn-text-font-family: 'Montserrat', Helvetica;
    --btn-text-font-weight: 700;
    --btn-text-font-size: 14px;
    --btn-text-letter-spacing: 0.20000000298023224px;
    --btn-text-line-height: 22px;
    --btn-text-font-style: normal;
    --h-5-font-family: 'Montserrat', Helvetica;
    --h-5-font-weight: 700;
    --h-5-font-size: 16px;
    --h-5-letter-spacing: 0.10000000149011612px;
    --h-5-line-height: 24px;
    --h-5-font-style: normal;
    --link-font-family: 'Montserrat', Helvetica;
    --link-font-weight: 700;
    --link-font-size: 14px;
    --link-letter-spacing: 0.20000000298023224px;
    --link-line-height: 24px;
    --link-font-style: normal;
    --h-6-font-family: 'Montserrat', Helvetica;
    --h-6-font-weight: 700;
    --h-6-font-size: 14px;
    --h-6-letter-spacing: 0.20000000298023224px;
    --h-6-line-height: 24px;
    --h-6-font-style: normal;
}
